<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.4/phpunit.xsd"
         bootstrap="./bootstrap.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <testsuite>
        <directory suffix="Test.php">src/SixBySix/Magerun/Deploy/Test</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
              <directory suffix=".php">src/SixBySix/Magerun/Deploy/Test</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="N98_MAGERUN_TEST_MAGENTO_ROOT" value="/root/workspace"/>
    </php>

    <logging>
        <log type="junit" target="./build/junit.xml"/>
        <log type="coverage-html" target="./build/coverage"/>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
</phpunit>
